a:visited{
    color: inherit;
}
.Container{
    width: 100vw;
    height: 100vh;

    display: flex;
}

.Title{
    margin-bottom: 16px;
}

.Cadastro{
    display: flex;
    flex-direction:column;
    width: 23%;

    margin:  auto;
    padding: 10px;
    
    border: solid 2px black;
}

.InfoPessoais{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Forgot{
    display: flex;
    justify-content: space-between;
}
/*---------------- Inputs e Buttons -----------------*/
.Inputs{
    width: 80%;
    padding: 10px 5px 10px 5px;
    margin: 8px 8px 0 8px;
    border: 2px solid black;

    font-size: 1rem;

    border-radius: 5px;
    outline: none;
}

#Enviar{
    width: 48%;
    padding: 10px 5px 10px 5px;
    margin: 10px 0;

    border-radius: 45px;
    border: 2px black solid
}
#Enviar:focus{
    outline: none;
    cursor: pointer;

    background-color: gray;
}


/*----------------- Google ------------------*/
#Google{
    width: 80%;
    padding: 10px 5px 10px 5px;

    display:flex;
    text-align: center;
    align-items: center;
    font-family: 'Inter';

    margin-bottom: 8px;

    border-radius: 45px;
    border: 2px solid black;
}
#GoogleIcon{
    width: 30px;
    height: 20px;
}
/*---------------- Lembrar de Mim -----------------*/
#LembrarDeMim{
    width: 83%;

    font-size: 1rem;
    margin: 5px ;
}

/*---------------- Footer -----------------*/
footer{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    line-height: 20px;
    
    align-items: center;
    font-style: italic;

    color:#345EAD                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             D;
}